* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --hover-color: #1e486b;
    --tab-font-color-hover: #fff;
    --tab-font-color-default: #a0b3b0;
    --tab-color-bg: #13232f;
    --tabs-color-bg: #1a2f3f;
    --body-bg: #c1bdba;
    --table-border-color: #111;
    --repo-bg: #13232f;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--body-bg);
}

.form {
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: var(--tab-color-bg);
    margin: 10px 10px;
}

.form .tabs {
    overflow: hidden;
    background-color: var(--tabs-color-bg);
    display: flex;
    flex-direction: row;
    height: 10%;    
}

.tabs button {
    width: 33.33%;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.5s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: var(--tab-font-color-default);
}

.form .tabs button:hover {
    background-color: var(--hover-color);
    transition: 0.5s;
    color: var(--tab-font-color-hover);
}

.form .tabs button.active {
    background-color: var(--hover-color);
    color: var(--tab-font-color-hover);
}


.tab-content {
    background-color: var(--hover-color);
    height: 90%;
    padding: 6px 12px;
    display: none;
    color: var(--tab-font-color-hover);
}

.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
  }

/* Repository */

.repository {
    margin: 10px 10px;
    background-color: var(--repo-bg) ;
    width: 50%;
    height: 600px;
}

.repository .table {
    margin: 5%;
    width: 90%;
    height: 90;
    background-color: #fff;
}
